*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
header a{
    text-decoration: none;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
    position: fixed;
    background-color: rgb(116, 15, 15);
    z-index: 1;
}
.logo{
    display: flex;
    flex-direction: row;
}
.logo img{
    width:6rem;
    object-fit: cover;
    cursor: pointer;
}
header span{
    font-family: "Protest Revolution", sans-serif;
    text-decoration: none;
    color: rgb(215, 158, 88);
    margin-left: 3rem;
    width: fit-content;
    font-size: 35px;
    padding-top: 0.5rem;
    font-weight: bolder;
    cursor: pointer;
}
nav li{
    list-style: none;
    width:fit-content;
    padding: 0.5rem 1rem;
    color: rgb(215, 158, 88);
}
nav ul{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    gap: 5rem;
    text-transform: uppercase;
    font-family: "Comic Neue", serif;
    font-weight:bold;
    margin-left: 16rem;

}
nav li:hover{
    background: rgb(215, 158, 88);
    color: black;
    border-radius: 0.2rem;
    transition: 0.2s all linear;
    cursor: pointer;
}
.home{
    height: 100vh;
    padding-top: 3rem;
    background-image: url('../images/home.jpg');
    background-position: center;
    background-size: cover;
}
.home h2{
    margin-top: 3rem;
    margin-left: 50vw;
    font-family: "Comic Neue", serif;
    font-size: 60px;
    letter-spacing: 0.5rem;
    color: antiquewhite;
}
.home span{
    display: inline-block;
    font-family: monospace;
    width: 7ch;
    color: rgb(215, 158, 88);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(6) forwards infinite;
    font-size: 90px;
}
@keyframes typing{
    0%,100%{
        width: 0;
    }
    50%{
        width: 7ch;
    }
 }
.home p{
    margin-top: 3rem;
    margin-left: 54vw;
    color: rgb(217, 210, 200);
    font-family: "Karla", sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    max-width: 30rem;
    font-size: 30px;
}
 .offer{
    cursor: pointer;
 }
.offer ul{
    display: flex;
    margin-left: 12rem;
}
.offer li{
    list-style: none;
    font-size: 3em;
    letter-spacing:1rem;
    color: #484848;
    text-shadow: none;
    animation: animate 1s infinite linear;
}
@keyframes animate{
    0%{
        color: #484848;
        text-shadow: none;
    }
    18%{
        color: #484848;
        text-shadow: none;
    }
    20%{
        color: #fff900;
        text-shadow: 0 0 0.5rem #fff900, 0 0 1.5rem #ff6c00;
    }
    30%{
        color: #484848;
        text-shadow: none;
    }
    35%{
        color: #fff900;
        text-shadow: 0 0 0.5rem #fff900, 0 0 1.5rem #ff6c00;
    }
    70%{
        color: #484848;
        text-shadow: none;
    }
    85%{
        color: #fff900;
        text-shadow: 0 0 0.5rem #fff900, 0 0 1.5rem #ff6c00;
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #484848;
        text-shadow: none;
    }
}
section h1{
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    font-weight: lighter;
}
.philosophy{
    padding-top: 3rem;
    background-image: url(../images/philosophy.jpg);
    background-position: center;
    background-size: cover;
}
.philosophy span{
    color: rgb(215, 158, 88);
}
.philosophy h1{
    color:antiquewhite;
}
.philosophy p{
    text-align: center;
    font-family: "Sour Gummy", sans-serif;
    color:rgb(255, 255, 255);
    max-width: 60rem;
    letter-spacing: 0.2rem;
    font-size: 30px;
    margin-left: 10rem;
    margin-top: 1rem;
}
.phi-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    gap: 1.25rem;
    padding: 1.25rem;
    margin-left: 3rem;
}
.phi-img img{
    width: 100%;
    height: 15rem;
    object-fit:cover;
    border-radius: 0.8rem;
}
.phi-img h3{
    display: flex;
    justify-content: center;    
    color: rgb(250, 250, 250);
    font-family: "Sour Gummy", sans-serif;
    
}
.img{
    transition: 0.2s ease-out;
}
.img:hover{
    transform: scale(1.1);
    z-index: 0.5;
}
.menu{
    padding-top: 3rem; 
    background-image: url(../images/menu.jpg); 
    background-position: center;
    background-size: cover; 
}
.menu p{
    text-align: center;
    width: 37rem;
    font-size: 30px;
    margin-top: 2rem;
    margin-left: 20rem;
    font-family: "Sour Gummy", sans-serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.menu span{
    display: inline-block;
    width: 25ch;
    white-space: nowrap;
    overflow: hidden;
    animation: type 6s steps(25) forwards infinite;
}
@keyframes type{
    0%,100%{
        width: 0;
    }
    50%{
        width: 25ch;
    }
 }
.menu-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 70%;
    margin-left: 3rem;
}
.menu-items h3{
    padding: 0.3rem 1rem;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
}
.menu-items ol li{
    list-style: none;
    padding: 0.5rem 0;
    font-size: 20px;
    font-family: "Exo 2", sans-serif;  
}
.menu-items img{
    width: 7rem;
    border-radius: 50%;
    background-color: blanchedalmond;
    transition: 0.6s ease-out;
}
.combo{
    display: grid;
    justify-content: center;
}
.combo h3{
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    margin-left: 5rem;
}
.combo img{
    margin-left: 5rem;
    width: 7rem;
}
.combo ol li{
    list-style: none;
    padding: 0.6rem 0;
    font-size: 20px;
    font-family: "Exo 2", sans-serif; 
}
.puffs{
    color: aliceblue;
    background-image: url(../images/puff\ bg.jpg);
    height: 100vh;
    padding-top: 3rem;
}
.puffs h2{
    margin: 5rem 1rem 1rem 5rem;
    font-size: 80px;
    width: 20rem;
    font-family: "Comic Neue", serif;
}
.puffs h2 span{
    color: rgb(215, 158, 88);
}
.puffs img{
    margin-left: 45%;
    margin-top:-20rem ;
    width: 40rem;
}
.puffs p{
    font-size: 20px;
    margin-top: 3rem;
    margin-left: 4rem;
    width:25rem;
    font-family: "Exo 2", sans-serif;
}
.find-us{
    height: 100vh;
    padding-top: 3rem;
    background-color:bisque;
}
.find-us>p{
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    font-size: 30px;
    font-family: "Exo 2", sans-serif;
}
.contact-details{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10rem;
}
.contact-details img{
    border-radius: 50%;
    width: 7rem;
    background-color:rgb(220, 200, 171);
}
.contact-details h3{
    font-size: 30px;
    margin: 1.5rem;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
}
.contact-details p{
    font-family: "Exo 2", sans-serif;
}
.location-para{
    text-align: center;
    width: 9rem;
}
.feedback{
    height: 100vh;
    padding-top: 3rem;
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
@keyframes mov {
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.puff-image{
    animation: mov linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}