*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(44, 40, 40);
    scroll-behavior: smooth;
}
section h1{
    display: flex;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-size: 7em;
    font-weight: lighter;
}




/* NAV BAR START */
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(116, 15, 15);
    position: fixed;
    width: 100%;
    height: 3.5rem;
    z-index: 1;
    padding: 0.75rem 1.8rem;
    animation: nav-load 2s ease-in;
}
nav ul{
    display: flex;
    gap: 4rem;
    text-transform: uppercase;
    font-family: "Comic Neue", serif;
    font-weight:bold;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    color: rgb(215, 158, 88);
    padding: 0.5rem 1rem;
}
.nav-icon{
    display: none;
}
.nav-icon img{
    width: 2rem;
}
.logo{
    display: flex;
    flex-direction: row;
    row-gap: 8rem;
    margin-left: -2.5rem;
}
.logo img{
    width:5rem;
    object-fit: cover;
    cursor: pointer;

}
.logo span{
    font-family: "Protest Revolution", sans-serif;
    color: rgb(215, 158, 88);
    width: fit-content;
    font-size: 2.8em;
    font-weight: bolder;
    cursor: pointer;
    padding-top: 1.3rem;
    margin-left: 4rem;
}
nav ul li:hover{
    background: rgb(215, 158, 88);
    color: black;
    border-radius: 0.2rem;
    transition: 0.2s all linear;
    cursor: pointer;
} 
@keyframes nav-load{
    0%{
      
        transform: translateY(-100px);
    }
    100%{
        
        transform: translateY(0);
    }
}
/* NAV BAR END */




/* HOME SECTION START */
.home{
    padding-top: 3rem;
    background-image: url('../images/home.jpg');
    background-position: center;
    background-size: cover;
    animation: 2s cubic-bezier(.25, 1, .30, 1) home-load both;
}
.home h2{
    margin-top: 3rem;
    margin-left: 50vw;
    font-family: "Comic Neue", serif;
    font-size: 4em;
    letter-spacing: 0.5rem;
    color: antiquewhite;
}
.home span{
    display: inline-block;
    font-family: monospace;
    width: 7ch;
    color: rgb(215, 158, 88);
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(6) forwards infinite;
    font-size: 1.5em;
}
.home p{
    margin-top: 3rem;
    margin-left: 54vw;
    color: rgb(217, 210, 200);
    font-family: "Karla", sans-serif;
    letter-spacing: 0.2em;
    text-align: center;
    max-width: 30rem;
    font-size: 2em;
}
.offer ul{
    display: flex;
    margin-left: 12rem;
    padding-bottom: 4rem;  
    cursor: pointer;
}
.offer ul li{
    list-style: none;
    font-size: 3em;
    letter-spacing:1rem;
    color: #484848;
    text-shadow: none;
    animation: animate-offer 1s infinite linear;  
}
@keyframes typing{
    0%,100%{
        width: 0;
    }
    50%{
        width: 7ch;
    }
 }
@keyframes animate-offer{
    0%{
        color: #484848;
        text-shadow: none;
    }
    20%{
        color: #484848;
        text-shadow: none;
    }
    40%{
        color: #fff900;
        text-shadow: 0 0 0.5rem #fff900, 0 0 1.5rem #ff6c00;
    }
    60%{
        color: #484848;
        text-shadow: none;
    }
    80%{
        color: #fff900;
        text-shadow: 0 0 0.5rem #fff900, 0 0 1.5rem #ff6c00;
    }
    100%{
        color: #484848;
        text-shadow: none;
    }
}
@keyframes home-load {
    from {
      clip-path: polygon(-50% 50%, 50% 150%, 50% 150%, -50% 50%);
    }
    to {
      clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
    }
  }
/* HOME SECTION END */




/* STORY SECTION START  */
.philosophy{
    padding-top: 3rem;
    background-image: url(../images/philosophy.jpg);
    background-position: center;
    background-size: cover;
}
.philosophy span{
    color: rgb(215, 158, 88);
}
.philosophy h1{
    color:antiquewhite;
}
.philosophy p{
    text-align: center;
    font-family: "Sour Gummy", sans-serif;
    color:rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    font-size: 2em;
    margin-top: 1rem;
}
.philosophy .phi-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    margin-left: 2rem;
}
.phi-img img{
    width: 90%;
    height: 15rem;
    object-fit:cover;
    border-radius: 0.8rem;
}
.phi-img h3{
    display: flex;
    justify-content: center;    
    color: rgb(250, 250, 250);
    font-family: "Sour Gummy", sans-serif; 
}
.philosophy .img{
    transition: 0.2s ease-out;
}
.philosophy .img:hover{
    transform: scale(1.1);
    z-index: 0.7;
}
/* STORY SECTION END  */




/* MENU SECTION START */
.menu{
    padding-top: 3rem; 
    background-image: url(../images/menu.jpg); 
    background-position: center;
    background-size: cover; 
}
.menu p{
    text-align: center;
    font-size: 2em;
    margin-top: 2rem;
    font-family: "Sour Gummy", sans-serif;
    margin-bottom: 2rem;
}
.menu span{
    display: inline-block;
    width: 28ch;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    animation: type 10s steps(25) forwards infinite;
    color: brown;
    letter-spacing: 2px;
}
.menu .menu-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 70%;
    margin-left: 3rem;
}
.menu-items h3{
    padding: 0.3rem 1rem;
    font-size: 2em;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
}
.menu-items ol li,.combo ol li{
    list-style: none;
    padding: 0.5rem 0;
    font-size: 1.5em;
    font-family: "Exo 2", sans-serif;  
}
.menu-items img{
    width: 7rem;
    border-radius: 50%;
    background-color: blanchedalmond;
    transition: 0.6s ease-out;
}
.combo{
    display: grid;
    justify-content: center;
}
.combo h3{
    font-size: 2em;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    margin-left: 5rem;
}
.combo img{
    margin-left: 5rem;
    width: 7rem;
}
@keyframes type{
    0%,100%{
        width: 0;
    }
    50%{
        width: 28ch;
    }
 }
/* MENU SECTION END */




/* PUFFS SECTION START */
.puffs{
    color: aliceblue;
    background-image: url(../images/puff\ bg.jpg);
    padding-top: 3rem;
}
.puffs h2{
    text-align: center;
    font-size: 6em;
    font-family: "Comic Neue", serif;
}
.puffs h2>span{
    color: rgb(215, 158, 88);
}
.puffs img{
    margin:3rem 0 0 20rem;
    width: 30rem;
}
.puffs p{
    font-size: 3em;
    margin:4rem 4rem auto;
    font-family: "Exo 2", sans-serif;
    padding-bottom: 4rem;
    text-align: center;
}
.puff-image{
    animation: fade-in linear;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}
@keyframes fade-in {
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/* PUFFS SECTION END */




/* FIND-US SECTION START */
.find-us{
    padding-top: 3rem;
    background-color:bisque;
}
.find-us>p{
    text-align: center;
    padding: 5rem 0;
    font-size: 2.5em;
    font-family: "Exo 2", sans-serif;
}
.contact-details{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}
.contact-details>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-details img{
    border-radius: 50%;
    width: 7rem;
    background-color:rgb(220, 200, 171);
}
.contact-details h3{
    font-size: 2.5em;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
}
.contact-details p{
    font-family: "Exo 2", sans-serif;
}
/* FIND-US SECTION END */




/* FEEDBACK SECTION START */
.feedback{
    height: min-content;
    width: 100%;
    padding-top: 3rem;
    background-color:rgb(230, 211, 187);
}
.feedback h2{
    font-family: "Comic Neue", serif;
    font-size: 80px;
    width: 20rem;
    margin-left: 20rem;
}
.feedback span{
    font-family: "Protest Revolution", sans-serif;
    color: rgb(215, 158, 88);
}
.feedback form{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0.5rem;
    max-width:16rem ;
    height: 20rem;
    gap: 5px;
    padding: 0rem 2.5rem;
    justify-content: center;
    margin: auto;
}
form textarea{
    min-width: 10rem;
    max-width: 11rem; 
    min-height: 4rem;
    max-height: 4rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}
form input,form textarea{
    outline: none;
    border-radius: 0.2rem;
    border: 1px solid;
    background: transparent;
}
form input{
    margin-top: 0.5rem;
    height: 2rem;
    padding-left: 0.5rem;
}
form label{
    color: rgba(31, 24, 24, 0.8);
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-left:0.5rem;
    letter-spacing: 2px;
}
form button{
    text-transform: uppercase;
    width: 5rem;
    height: 2rem;
    align-items: center;
    margin-top: 1rem;
    margin-left: 3rem;
    letter-spacing: 2px;
    background: #ff6c00;
    color: antiquewhite;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.feedback>div{
    padding: 2rem;
}
.customer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 2em;  
}
#customer-email{
    font-size: 0.3em;
    color: black;
}
/* FEEDBACK SECTION END */




/* FOOTER SECTION START */
footer{
    background-color: rgb(107, 25, 25);
    width: 100%;
    height: 3rem;
    color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Exo 2", sans-serif;
    animation: footer-load 2s ease-in;
}
@keyframes footer-load{
    0%{
        transform: translateY(100px);
    }
    100%{
        
        transform: translateY(0);
    }
}
/* FOOTER SECTION END */




/* COMPONENT LOAD ANIMATION */
.philosophy,.menu,.puffs,.feedback,.find-us{
    animation: 2s allcomponet-load ease;
}
@keyframes allcomponet-load{
    from {
        clip-path: inset(0 0 100% 0);
      }
      to {
        clip-path: inset(0 0 0 0);
      }
    }




/* APPEARENCE ANIMATION */
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}



/* FOR TABLETS */
@media screen and (min-device-width:577px) and (max-device-width:990px) {
    .logo{
        width: auto;
    }
    .logo span{
        font-size: 2.3em;
    }
    nav ul {
        gap: 0;
    }
    .home{
        height: 100%;
    }
    .home span{
        font-size: 1.3em;
        letter-spacing: 0;
    }
    @keyframes typing{
        0%,100%{
            width: 0px;
        }
        50%{
            width: 6ch;
        }
    }
    .home p{
        margin-left: 34vw;
        font-size: 3em;
    }
    .offer ul {
        margin-top: 10rem;
        margin-left: 0px;
        justify-content: center;
        width: 100%;
    }
    .philosophy p{
        margin-left: 0;
        font-size: 3em;
    }
    .philosophy .phi-img{
        display: flex;
        flex-direction: column;
    }
    .phi-img img{
        height: 30rem;
    }
    .phi-img h3 {
        font-size: 3em;
    }
    .menu p{
        width: 100%;
        margin-left: 0;
        font-size:2.5em ;
    }
    .menu .menu-items{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left:0 ;
    }
    .menu-items img{
        width: 13rem;
    }
    .menu-items h3{
        text-align: center;
        font-size: 4em;
    }
    .combo h3{
        text-align: center;
        font-size: 4em;
        margin-left: 0;
    }
    .combo{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .combo img{
        width: 13rem;
    }
    .menu-items ol li,.combo ol li{
        font-size: 3em;
        text-align: center;
    }
    .menu-items>div{
        text-align: center;
    }
    .puffs img{
        width: 25rem;
        margin: 3rem;
    }
    .puffs h2{
        width: auto;
        font-size: 7em;
    }
    .puffs p {
        font-size: 3em;
        width: fit-content;
        text-align: center;
    }
    .find-us>p{
        font-size: 3em;
        text-align: center;
    }
    .contact-details{
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    .contact-details>div{
        text-align: center;
    }
    .contact-details img{
        width: 13rem;
    }
    .contact-details h3{
        text-align: center;
        font-size: 4em;
    }
    .contact-details p{
        font-size:2em ;
    }
    .feedback h2{
        margin-left: 3rem;
        width: fit-content;
    }
    .feedback form{
        align-items: center;
        margin: auto;
    }
}

@media screen and (min-device-width:577px) and (max-device-width:723px) {
    .logo span {
        font-size: 1.4em;
    }
}

/* FOR MOBILE DEVICE */
@media screen and (max-width:576px) {
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
section h1 {
    font-size: 4em;
}

/* Nav Bar */
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
}
.logo{
    width: 100%;
}
.logo span{
    height: fit-content;
    font-size: 2em;
    margin-top: 0.4rem;
    margin-left: 1.5rem;
}
nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    overflow: hidden;
    background-color: rgb(116, 15, 15);
    margin-top: -1rem;
    margin-left: 16rem;
}
#nav-list{
    transition: 1s;
}
.nav-icon{
    display: block;
}
.nav-icon img{
    margin-top: 1rem;
}


/* Home Section */
.home{
    width: 100%;
    height: 100%;
    background-position:center;
}
.home h2{
    max-width: 20rem;
    margin-top: 3rem;
    font-size: 2em;
}
.home h2 span{
    font-size: 1em;
}
.home span {
    font-family: "Comic Neue", serif;
    animation: typing 4s steps(7) forwards infinite;
}
.home p{
    font-size: 1.5em;
    max-width: 25rem;
    margin:2rem auto auto 10rem;
}
.offer ul li{
    font-size: 2em;
    letter-spacing:1px;
}
.offer ul{
    margin: auto auto;
    padding: 3rem 2rem;
}
@keyframes typing{
    0%,100%{
        width: 0;
    }
    50%{
        width: 8ch;
    }
 }



/* Story Section */
.philosophy p{
    font-size: 1.5em;
    max-width: 30rem;
    margin: 4rem 1rem auto 1rem;
    
}
.philosophy .phi-img{
    display: flex;
    flex-direction: column;
}
.phi-img img{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}



/* Menu Section */
.menu p{
    width: 100%;
    font-size: 1.5em;
    margin: 3rem auto;
}
.menu .menu-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5.5rem;
}
.menu p>span{
    width: 100%;
}



/* Puffs Section */
.puffs h2{
    width: fit-content;
    margin: 2rem 4rem 0;
}
.puffs p{
    width: fit-content;
    margin:1rem 1rem 0;
}
.puffs img{
    width: 18rem;
    margin: 2rem 3rem auto;
}
@keyframes fade-in{
0% {
    opacity: 0;
    transform: translateX(80px);
}
100% {
    opacity: 1;
    transform: translateX(0px);
}
}



/* Find-us Section */
.find-us>p{
    padding: 3rem 2rem;
    letter-spacing: 0.5rem;
}
.find-us .contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}
.contact-details>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}



/* feedBack Section */

.feedback h2{
    margin-left: 1rem;
}
.feedback form{
    margin: auto;
}
}

/* Small Screen Mobiles */
@media screen and (max-width:400px){
    section h1 {
        font-size: 3em;
    }
    nav ul{
        margin-left: 0;
    }
    .logo span{
        font-size: 1.3em;
    }
    .home h2{
        font-size: 1.5em;
    }
    .home p{
        font-size: 1.3rem;
        margin-left: 1rem;
    }
    .home span{
        animation: typing 4s steps(6) forwards infinite;
    }
    .philosophy p {
        font-size: 1em;
    }
    .philosophy .phi-img{
        margin-left: 0;
        padding-left: 4rem;
    }
    .phi-img img{
        width: 80%;
        height: 9rem;
    }
    .menu span{
        animation: none;
        font-size: 0.7em;
        letter-spacing: 0;
        white-space: normal;
    }
    .menu .menu-items{
        margin-left: 4rem;
    }
    .puffs h2{
        font-size: 3em;
        margin: 2rem 3rem 0;
    }
    .puffs p,.find-us>p{
        font-size: 1.5em;
    }
    .puffs img{
        animation: none;
        width: 10rem;
        margin: 3rem 0 0 3rem;
    }
    .feedback h2{
        font-size:2em;
    }
    .feedback h2{
        width: auto;
    }
    .customer {
        font-size: 1.5em;
    }

}
@media screen and (max-width:300px){
    section h1 {
        font-size: 3em;
    }
    .nav-icon img {
        margin-left: 2.2rem;
    }
    .home h2{
        letter-spacing: 0;
        white-space: normal;
    }
    .offer ul li{
        font-size: 1em;
        letter-spacing: 1px;
    }
    .logo span{
        font-size: 0.8em;
    }
    .home span{
        animation: typing 4s steps(7) forwards infinite;
        width: fit-content;
        white-space: normal;
        letter-spacing:0;
    }
    form input, form textarea {
        max-width: 5rem;
        min-width: 5rem;
    }
    .menu .menu-items {
        margin-left: 2rem;
    }
    .puffs p{
        font-size: 1em;
    }
    .puffs img{
        width: 8rem;
    }
    .find-us>p {
        font-size: 1.5em;
        padding: 0;
        letter-spacing: 0.4rem;
    }
    .customer {
        font-size: 1em;
    }
    @keyframes typing{
        0%, 100% {
            width: 0;
        }
        
        50% {
            width: 7ch;
        }

    }
}
@media screen and (max-width:200px){
    section h1 {
        font-size: 2em;
    }
    .home h2{
        letter-spacing: 0;
        white-space: normal;
    }
    .philosophy p {
        font-size: 0.7em;
    }
    form input, form textarea {
        max-width: 5rem;
        min-width: 5rem;
    }
    form button{
        margin-left: 0;
    }
    .find-us>p {
        padding: 0; 
        letter-spacing: 0;
    }
    .puffs p {
        margin: 1rem 0rem 0;
        font-size: 1em;
    }
    .puffs h2 {
        margin: 2rem 0rem 0;
    }
    .contact-details>div {
        margin: 2rem 0 0 0;
    }
    .menu .menu-items {
        margin-left: 0rem;
        width: auto;
    }
    .combo img ,.combo h3{
        margin-left: 0;
    }
    .find-us>p ,.feedback h2{
        font-size: 1.5em;
    }
    .logo span{
        font-size: 0.7em;
    }
    .nav-icon img {
        margin-left: 2.2rem;
    }
    .puffs img {
        margin: 0;
        width: 7rem;
    }
    .customer {
        font-size: 0.5em;
    }
    .home span {
        animation: none;
    }
}